/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}


.container {
  max-width: $max-content-width;
}

// Profile
// Profile
.profile {
  img {
    width: 100%;
  }

  &.float-left {
    margin-right: 2rem;  /* Increase this value to add more space */
  }

  &.float-right {
    margin-left: 2rem;   /* Increase this value to add more space */
  }
}

// Post
.post {       // centers it on the page
  #padding: 0 1rem;       // adds spacing on small screens
  text-align: justify;   // aligns both left and right edges
}
// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
