<ul class="list-group list-group-flush">
  {% assign publications = data[1] | sort: 'releaseDate' | reverse %}
  {% for content in publications %}
    <li class="list-group-item">
      <a href="{{ content.url }}">{{ content.name }}</a><br>
      <span style="font-size: 0.95rem">{{ content.publisher }}</span><br>
      <span style="font-size: 0.95rem; font-style: italic">{{ content.summary }}</span>
    </li>
  {% endfor %}
</ul>

